:root {
    --primary-color: #F95959;
    --secondary-color: #f5f2fe;
    --tertiary-color: #6c63ff;
    --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}


h1,
h2,
h3 {
    text-align: center;
    font-family: 'Merriweather',
            serif;
}

h1 {
    font-size: 96px !important;
}

h2 {
    font-size: 40px !important;
    
    
}

h3 {
    font-size: 18px !important;
    opacity: 0.7;
    font-family: 'Poppins',
            sans-serif;
    
}

p {
    border-radius: 4px;
    font-size: 15px;
    line-height: 1.5;
    text-align: left;
    margin: 10px 5px 20px;
    font-family: 'Poppins',
            sans-serif;
    
}

.hero h3 {
    font-size: 14px !important;
}

.footer p {
    font-size: 12px;
    text-align: center;
}


.primarylink {
    background: var(--primary-color);
    border-radius: 4px;
    padding: 15px 20px;
    margin: 10px 5px;
    color:white; 
    text-decoration: none;
}

.navbar-nav a {
    font-family: 'Poppins',
            sans-serif;
    font-size:14px;
    font-weight: 300 !important;
}

.nav-link.active {
    text-decoration: underline !important;
    color: var(--primary-color) !important;
    font-weight: 600;
    text-decoration-color: var(--primary-color) !important;
}

a.iconlink {
    color:#1E3050;
    display: inline;
    margin-right: 5px;
}

div.row {
    padding: 30px 35px ;
}

.bg-bgprim {
    background: var(--primary-color);
}

.bg-bgdef {
    background: var(--secondary-color);
}

.primary {
    color: var(--primary-color);
}

div.image {
    padding: 48px 24px;
}

@media (max-width: 600px){
    .container-lg {
        padding: 10px !important;
        padding-top: 40px !important;
    }
    div.row {
        padding: 20px 10px !important;
        
    }
    div.col-sm {
       padding: 10px!important; 
       margin: 10px 5px !important;
    }
    h1 {
        font-size: 48px !important;
    }

    h2 {
        font-size: 24px !important;
    }

    h3 {
        font-size: 15px !important;
        opacity: 0.7;
    }

    p {
        border-radius: 4px;
        font-size: 12px;
        line-height: 1.5;
        text-align: left;
        margin: 10px 5px 20px;
    }
}


.container-lg {
    padding: 20px;
    padding-top: 90px;
}

.navigation-links {
    display: flex;
    margin-top: 35px;
    justify-content: center;
}

.navigation-links a {
    margin: 20px;
    border-radius: 4px;
    padding: 12px 15px;
    text-decoration: none;
    text-transform: capitalize;
}

.contact-link {
    background: var(--primary-color);
    box-shadow: var(--box-shadow);
    color: white;
}

.about-link {
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
}

.homepage-link {
    color: var(--primary-color);
    text-align: center;
    display: block;
}

.about-paragraphs {
    display: flex;
    margin: 30px 0;
}

.about-paragraphs p {
    margin: 10px;
}

.email-link {
    display: flex;
    justify-content: center;
    color: var(--primary-color);
    font-size: 20px;
    text-decoration: none;
}

.email-link:hover {
    text-decoration: underline;
}